.chamada-wrapper {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    background: linear-gradient(to right, #00457C, #9B1C2A, #ecc204);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}